extends layout

block content
  .container
    .row
      .col-md-4
        div(class=['panel', 'panel-default'])
          .panel-heading
            h3(class='panel-title') Signin
          .panel-body
            form(method="post", enctype="application/x-www-form-urlencoded")
              div(class=['form-group', form.username.hasErrors() ? 'has-error':''])
                label(for='email', class='control-label') Username
                input(type='email', class='form-control', placeholder='#{form.username.placeholder}', name="username", value='#{form.username.value}')
                if form.username.hasErrors()
                  each error in form.username.errors
                    span(class='help-block') #{error.message}
              div(class=['form-group', form.password.hasErrors() ? 'has-error':''])
                label(for='password') Password
                input(type='password', class='form-control', placeholder='#{form.password.placeholder}', name="password", value='#{form.password.value}')
                each error in form.password.errors
                  span(class='help-block') #{error.message}
              button(type='submit', class=['btn', 'btn-primary']) Signin
              a(href="/", id="signup_link") Signup
              a(href="/forgot") forgot?
